@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	font-family: sans-serif;
font-weight:200;
line-height: 2.0em;
background-image:url(./img-2.jpg);
color: white;
}
h2{
text-align: center;
}
h3{
	text-align: center;
	font-style: italic;
	margin-top: 10px;
	border-bottom: 0;
	padding-bottom: 0;
}
video{
    width: 98%;
	margin: 10px;;
	padding: 5px;
	border: 10px;
}


.main{
	display: grid;
	grid-template-columns: 40% 60%;
}
/*
arai first nuv grid ala start and mOTHam narchuko rep edhi
motham set chayali*/
img{
	width: 100px;
	height: 150px;
	transition: 0.5s;
}
img:hover{
	width: 300px;
	height: 200px;

}
.image-grid {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content:center;
}


.body{
	line-height: 1.5;
	font-family: 'poppons', sans-serif;
}
.copyright{
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 15px;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1176px;
	background-color:#24262b;
	margin: 10px 50px 30px 50px;
	
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background:#24262b;
	padding: 10px 0;
	
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
font-size: 10px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position:relative;
}
.footer-col h4::before{
	content:'';
	position:absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 10px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
    font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3 ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 4px 4px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width:767px){
	.footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
}
@media(max-width: 574px){
	.footer-col{
		width: 100%;
	}
}
form{
	display: grid;
	grid-template-columns:500px;
	padding: 5px;
	margin: 3px;
}
form > input{
	padding: 5px;
	margin: 5px;
}
form>input>submit{
	font-size: 100px;

}















